/*
Sample colors used:
  dark-blue: #4189C7
  grey: #D0D4D7
  light-blue: #C9DEF0
*/

 .container{
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  border: 3px solid #D0D4D7;
  border-radius: 5px;
}


 input{
   height: 30px;
   border: 1.5px solid #D0D4D7;
   padding: 7px;
   border-radius: 2px;

 }
 select{
   margin-left: 3%;
   width: 92%;
   border: 1.5px solid #D0D4D7;
   height: 45px;
   color
 }

.header{
  background:#3274C1;
  color:white;
  border-radius: 3px;
  padding: 10px;
}

h1{
  font-weight: lighter;
  padding: 3vw;
  padding-bottom: 0;
  margin-top:0;
  color: white;
  font-size: 1.3em;
}



.submit-form{
  background:#BDD5ED;
  padding: 20px;

}

.submit-button{
  background:#3274C1;
  color:white;
  padding: 8px;
  border-radius: 3px;
  border: none;
  opacity: 0.8;
  margin-left: 5px;
}
